@keyframes button_go {
  50% {
    transform: scale(1.1);
  }
}
@keyframes colors {
  0% {
    color: aqua;
    text-shadow: 0 0 15px #140375;
  }
  50% {
    color: #00ff62;
    text-shadow: 0 0 7px #03056e;
  }
  75% {
    color: #00ff62;
    text-shadow: 0 0 12px #00c9a7;
  }
  100% {
    color: aqua;
    text-shadow: 0 0 15px #140375;
  }
}
@keyframes dropWater {
  0% {
    top: -120px;
  }
  100% {
    top: 100%;
  }
}
@keyframes deleted {
  0% {
    top: 50%;
    left: 30%;
    width: 70px;
    height: 70px;
    font-size: 25px;
  }
  40% {
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    font-size: 25px;
    background-color: green;
  }
  100% {
    top: 3%;
    left: 85%;
    width: 15px;
    height: 15px;
    font-size: 0px;
    background-color: red;
  }
}
@keyframes deleted_on_tablet {
  0% {
    top: 50%;
    left: 10%;
    width: 70px;
    height: 70px;
    font-size: 25px;
  }
  40% {
    top: 50%;
    left: 30%;
    width: 70px;
    height: 70px;
    font-size: 25px;
    background-color: green;
  }
  100% {
    top: 0%;
    left: 50%;
    width: 15px;
    height: 15px;
    font-size: 0px;
    background-color: red;
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Patrick Hand", cursive;
}

.container {
  position: relative;
  display: flex;
  max-width: 100vw;
  height: 100vh;
}

.game {
  font-weight: 300;
  position: relative;
  display: flex;
  flex: 3;
  background-image: url(../media/beach.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.start_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  margin-bottom: 20px;
  font-size: 175px;
  color: aqua;
  animation: colors 15s infinite;
}

.control {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: rgba(2, 161, 95, 0.404);
}

.hidden {
  display: none;
}

.score {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  border-radius: 0 0 30% 30%;
  width: 90%;
  height: 50px;
  background-color: #f3f5f4;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  padding-bottom: 7px;
  overflow: hidden;
}

#score {
  color: red;
}

.started_block {
  display: flex;
}

.buttons_block {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.buttons_block button:first-child {
  animation: button_go 3s infinite;
  color: white;
}
.buttons_block button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  height: 100px;
  font-size: 40px;
  border-radius: 100% 0 100% 80%;
  border: none;
  background-color: rgba(2, 161, 95, 0.404);
  color: rgba(202, 202, 202, 0.637);
  text-shadow: 0 0 5px #3d3c3c;
  box-shadow: 0 3px 3px #c1e0e4;
}
.buttons_block button:hover {
  background-color: rgba(5, 201, 119, 0.781);
  box-shadow: 0 3px 15px #fdfdfd;
  color: white;
  transform: scale(0.95);
  transition: 0.2s;
  cursor: pointer;
}
.buttons_block button:focus {
  outline: none;
}

#delete,
#enter,
#clear {
  font-size: 25px;
}

#null {
  grid-column-start: 1;
  grid-column-end: 3;
}

#enter {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

#clear {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.panel_control {
  padding: 10px;
  border-radius: 10px;
  background-color: #fdfdfd;
  max-width: 275px;
}

.screen_panel_control {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px 10px 0 0;
  border: 2px solid black;
  height: 70px;
  overflow: hidden;
}

.buttons_panel_control {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(60px, 1fr));
  grid-template-rows: repeat(4, 60px);
}

.control_buttons {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 5px;
}
.control_buttons:hover, .control_buttons:active {
  transform: scale(1.05);
  box-shadow: 0 0 25px #09e609;
  color: #09e609;
  cursor: pointer;
  transition: 0.2s;
}

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 70px;
  height: 70px;
  border: 1px solid #5e36bb;
  background-color: #76ffc6;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  animation: dropWater var(--animation-duration) linear;
}

.bad_answer {
  transform: scale(1.4);
  background-color: #ff3e3e;
  color: white;
  transition: 0.2s;
}

.correct_answer {
  position: fixed;
  animation: deleted 1s;
  background-color: green;
}

.scale_score {
  animation: scale 0.5s;
}

.modal_window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 800px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #5272da;
  box-shadow: 0 0 10px red;
  color: white;
  border-radius: 5%;
  z-index: 1;
}

.star_icon {
  filter: grayscale(100%);
}

.game_over {
  text-shadow: 0 0 20px red;
  font-size: 175px;
  margin: 10px;
}

.final_score {
  font-size: 40px;
  margin: 5px;
}

.try_again {
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.589);
  border-radius: 10px;
  animation: button_go 3s infinite;
}
.try_again:hover {
  cursor: pointer;
  background-color: red;
  text-shadow: 0 0 1px white;
  box-shadow: 0 0 10px white;
}

.water_line {
  background: #042b3a;
  filter: saturate(20);
  border-radius: 15% 25% 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120%;
  height: 15%;
  animation: water_line 10s linear infinite;
}

@keyframes water_line {
  0% {
    border-radius: 15% 25% 0 0;
    height: 15%;
  }
  25% {
    border-radius: 20% 80% 0 0;
    height: 10%;
  }
  60% {
    border-radius: 80% 20% 0 0;
    height: 12%;
  }
  100% {
    border-radius: 15% 25% 0 0;
  }
}
:root {
  --animation-duration: 10s;
}

@media screen and (max-width: 1050px) {
  #delete,
#enter,
#clear {
    font-size: 20px;
  }

  .score {
    font-size: 32px;
  }

  .logo {
    font-size: 122.5px;
  }

  .modal_window {
    width: 550px;
    height: 350px;
  }

  .game_over {
    font-size: 122.5px;
  }

  .final_score {
    font-size: 32px;
  }

  .buttons_block button {
    font-size: 32px;
  }

  .screen_panel_control {
    font-size: 36px;
  }

  .control_buttons {
    font-size: 36px;
  }

  .panel_control {
    max-width: 250px;
  }
}
@media screen and (max-width: 800px) {
  .control {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.158);
  }

  #delete,
#enter,
#clear {
    font-size: 15px;
  }

  .buttons_panel_control {
    grid-template-columns: repeat(4, 1fr);
  }

  .score {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    font-size: 87.5px;
  }

  .modal_window {
    width: 400px;
    height: 250px;
  }

  .game_over {
    font-size: 87.5px;
  }

  .final_score {
    font-size: 24px;
  }

  .buttons_block button {
    font-size: 24px;
  }

  .control_buttons {
    font-size: 24px;
  }

  .screen_panel_control {
    font-size: 24px;
  }

  .score {
    position: fixed;
    width: 50%;
    height: 40px;
  }

  .panel_control {
    max-width: 184px;
    opacity: 0.6;
  }

  .correct_answer {
    animation: deleted_on_tablet 1s;
  }

  .bubble {
    font-size: 17.5px;
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 400px) {
  .screen_panel_control {
    height: 50px;
  }

  .logo {
    font-size: 52.5px;
  }

  .modal_window {
    width: 240px;
    height: 150px;
  }

  .game_over {
    font-size: 52.5px;
  }

  .final_score {
    font-size: 12px;
  }

  .screen_panel_control {
    font-size: 16px;
  }

  .bubble {
    font-size: 12.5px;
    width: 35px;
    height: 35px;
  }
}

/*# sourceMappingURL=style.css.map */
