@keyframes button_go {
  0% {
  }
  50% {
    transform: scale(1.1);
  }
  100% {
  }
}
@keyframes colors {
  0% {
    color: aqua;
    text-shadow: 0 0 15px rgb(20, 3, 117);
  }
  50% {
    color: rgb(0, 255, 98);
    text-shadow: 0 0 7px rgb(3, 5, 110);
  }
  75% {
    color: rgb(0, 255, 98);
    text-shadow: 0 0 12px rgb(0, 201, 167);
  }
  100% {
    color: aqua;
    text-shadow: 0 0 15px rgb(20, 3, 117);
  }
}

@keyframes dropWater {
  0% {
    top: -120px;
  }
  100% {
    top: 100%;
  }
}
@keyframes deleted {
  0% {
    top: 50%;
    left: 30%;
    width: 70px;
    height: 70px;
    font-size: $size_text_small;
  }
  40% {
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    font-size: $size_text_small;
    background-color: green;
  }
  100% {
    top: 3%;
    left: 85%;
    width: 15px;
    height: 15px;
    font-size: 0px;
    background-color: red;
  }
}
@keyframes deleted_on_tablet {
  0% {
    top: 50%;
    left: 10%;
    width: 70px;
    height: 70px;
    font-size: $size_text_small;
  }
  40% {
    top: 50%;
    left: 30%;
    width: 70px;
    height: 70px;
    font-size: $size_text_small;
    background-color: green;
  }
  100% {
    top: 0%;
    left: 50%;
    width: 15px;
    height: 15px;
    font-size: 0px;
    background-color: red;
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
