@import "constants";

.buttons_block {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  button:first-child {
    animation: button_go 3s infinite;
    color: white;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    height: 100px;
    font-size: $size_text_button;
    border-radius: 100% 0 100% 80%;
    border: none;
    background-color: $backgr_start_button;
    color: $color_start_button;
    text-shadow: 0 0 5px rgb(61, 60, 60);
    box-shadow: 0 3px 3px rgb(193, 224, 228);

    &:hover {
      background-color: rgba(5, 201, 119, 0.781);
      color: rgb(255, 255, 255);
      transform: scale(0.95);
      transition: 0.2s;
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }
}
@keyframes button_go {
  0% {
  }
  50% {
    transform: scale(1.1);
  }
  100% {
  }
}
@keyframes colors {
  0% {
    color: aqua;
    text-shadow: 0 0 15px rgb(20, 3, 117);
  }
  50% {
    color: rgb(0, 255, 98);
    text-shadow: 0 0 7px rgb(3, 5, 110);
  }
  75% {
    color: rgb(0, 255, 98);
    text-shadow: 0 0 12px rgb(0, 201, 167);
  }
  100% {
    color: aqua;
    text-shadow: 0 0 15px rgb(20, 3, 117);
  }
}
