@import "constants";
@keyframes button_go {
  0% {
  }
  50% {
    transform: scale(1.1);
  }
  100% {
  }
}
@keyframes colors {
  0% {
    color: aqua;
    text-shadow: 0 0 15px rgb(20, 3, 117);
  }
  50% {
    color: rgb(0, 255, 98);
    text-shadow: 0 0 7px rgb(3, 5, 110);
  }
  75% {
    color: rgb(0, 255, 98);
    text-shadow: 0 0 12px rgb(0, 201, 167);
  }
  100% {
    color: aqua;
    text-shadow: 0 0 15px rgb(20, 3, 117);
  }
}

.started_block {
  display: flex;
}

.buttons_block {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  button:first-child {
    animation: button_go 3s infinite;
    color: white;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    height: 100px;
    font-size: $size_text_button;
    border-radius: 100% 0 100% 80%;
    border: none;
    background-color: $backgr_start_button;
    color: $color_start_button;
    text-shadow: 0 0 5px rgb(61, 60, 60);
    box-shadow: 0 3px 3px rgb(193, 224, 228);

    &:hover {
      background-color: rgba(5, 201, 119, 0.781);
      box-shadow: 0 3px 15px rgb(253, 253, 253);
      color: rgb(255, 255, 255);
      transform: scale(0.95);
      transition: 0.2s;
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }
}

#delete,
#enter,
#clear {
  font-size: $size-text-small;
}
#null {
  grid-column-start: 1;
  grid-column-end: 3;
}
#enter {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}
#clear {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.panel_control {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(253, 253, 253);
  max-width: 275px;
}
.screen_panel_control {
  font-size: $size-text-big;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px 10px 0 0;
  border: 2px solid rgb(0, 0, 0);
  height: 70px;
  overflow: hidden;
}
.buttons_panel_control {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 60px);
  margin: 0;
}
.controll_buttons {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $size_text_button;
  padding: 5px;
  &:hover,
  &:active {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgb(9, 230, 9);
    color: rgb(9, 230, 9);
    cursor: pointer;
    transition: 0.2s;
  }
}
.bubble {
  @extend %flex_center;
  font-size: $size_text_small;
  width: 70px;
  height: 70px;
  border: 1px solid rgb(94, 54, 187);
  background-color: rgb(118, 255, 198);
  border-radius: 50%;
  position: absolute;
  top: -100px;
  animation: dropWater 10s linear;
}
.bad_answer {
  transform: scale(1.4);
  background-color: rgb(255, 62, 62);
  color: white;
  transition: 0.2s;
}
.correct_answer {
  position: fixed;
  animation: deleted 1s;
  /*
  transition: 0.5s;
  transform: translateX(500%);
  */

  background-color: green;
}
@keyframes dropWater {
  0% {
    top: -120px;
  }
  100% {
    top: 100%;
  }
}
@keyframes deleted {
  0% {
    top: 50%;
    left: 30%;
    width: 70px;
    height: 70px;
    font-size: $size_text_small;
  }
  40% {
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    font-size: $size_text_small;
  }
  100% {
    top: 3%;
    left: 85%;
    width: 5px;
    height: 5px;
    font-size: 0px;
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
