$color_logo: yellow;
$backgr_start_button: rgba(2, 161, 95, 0.404);
$color_start_button: rgba(202, 202, 202, 0.637);
$size_logo: 175px;
$size_text_button: 40px;
$size_text_big: 40px;
$size_text_small: 25px;
$desctop: 1050px;
$tablet: 800px;
$mobile: 400px;
